ENV=qa
BASE_URL=https://example.test
DB_URL: "jdbc:oracle:thin:@//localhost:1521/XEPDB1"
DB_USER: test
DB_PASSWORD: test
API_BASE_URL: http://localhost:8080
WEB_LOGIN_URL: http://localhost:3000/login
MOBILE_PLATFORM=android
APPIUM_URL=http://127.0.0.1:4723
DEVICE_NAME=emulator-5554